version: "3.9"

services:
  backend:
    build:
      context: ./server
    env_file:
      - ./server/.env
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: docker/frontend/Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
